<%= form_for(@ordem) do |f| %>
  <% if @ordem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem.errors.count, "error") %> prohibited this ordem from being saved:</h2>

      <ul>
      <% @ordem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :os_id %><br>
    <%= f.text_field :os_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
