<h1>Listing ordems</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>
      <th>Os</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordems.each do |ordem| %>
      <tr>
        <td><%= ordem.description %></td>
        <td><%= ordem.status %></td>
        <td><%= ordem.os %></td>
        <td><%= ordem.category %></td>
        <td><%= link_to 'Show', ordem %></td>
        <td><%= link_to 'Edit', edit_ordem_path(ordem) %></td>
        <td><%= link_to 'Destroy', ordem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordem', new_ordem_path %>
