<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ordem.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ordem.status %>
</p>

<p>
  <strong>Os:</strong>
  <%= @ordem.os %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ordem.category %>
</p>

<%= link_to 'Edit', edit_ordem_path(@ordem) %> |
<%= link_to 'Back', ordems_path %>
