<%= form_for @client do |f| %>
<% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error:") %> was not possible this client</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>  
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>  
  </p>

  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>  
  </p>

  <p>
    <%= f.label :birthday %>
    <%= f.date_select :birthday, start_year: 1950 %>  
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  
  <p><%= f.submit 'Save' %></p>
  
<% end %>