<h1>Listing os</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @os.each do |o| %>
      <tr>
        <td><%= o.produto %></td>
        <td><%= link_to 'Show', o %></td>
        <td><%= link_to 'Edit', edit_o_path(o) %></td>
        <td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New O', new_o_path %>
